{% extends 'base.html.twig' %}

{% block main %}

    {% for msg in app.session.flashBag.get('info') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}


{% endblock %}